[Unit]
Description=Belltower Joystick Handler
After=network.target sound.target

[Service]
ExecStart="python /home/space/belltower/src/service_targets/joystick.py"
WorkingDirectory=/home/space/belltower
User=space
Group=space
Restart=always

[Install]
WantedBy=multi-user.target
